.banner {
    background-color: #ff5555;
    padding: 0px;
}

.banner p {
    color: #ffffff;
}

.menu a{
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.menu li{
    display: inline
}

.dropdown-menu {
  font-size: 16px;
  margin-top: 5px;
  min-width: 105px;
}

.dropdown-menu li a {
  color: #000;
  padding: 6px 20px;
  font-weight: 300;
}

.jumbotron {
  background-image:url('http://goo.gl/zYf9Az');
  height: 480px;
}

.jumbotron .container {
  position: relative;
  top:100px;
}

.jumbotron h1 {
  color: #000;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
  padding: 5px;
  margin-left: 0px;
  margin-right: 295px;
}

.jumbotron p{
    color: #000;
    font-family: 'Shift', serif;
    padding-left: 5px;
    margin-left: 10px;
    margin-right: 100px;
}

.jumbotron a{
    color: #ffffff;
    background-color: #ff5555;
    margin-left: 10px;
    padding: 5px;
}

.prevChamps p{
    text-align: center;
}

.prevChamps row{
    margin-top: 10px;
}

.prevTitle h2{
    text-align: center;
    background-color: #ff5555;
    color: #ffffff;
    font-family: 'Shift', sans-serif;
}

.bracket {
    padding-bottom: 20px;
}

.bracket row 0 p{
    text-align: center;
}

.bracketTitle h2{
    text-align: center;
    background-color: #ff5555;
    color: #ffffff;
    font-family: 'Shift', sans-serif;
}

#bracketBar {
    height: 2px;
    background-color: #000;
}

#footerBar {
    height: 2px;
    background-color: #aaaaaa;
}

.footer {
    padding-top: 10px;
    background-color: #dddddd;
}

.copyright{
    text-align: center;
    color: #ffffff;
    background-color: #ff5555;
}
