.jumbotron {
    	background: url('https://camo.githubusercontent.com/0ff1d09bf54facc8d32ecb62a9b6312dc6d15c34/68747470733a2f2f7777322e64697374656b2e636f6d2f626c6f672f77702d636f6e74656e742f75706c6f6164732f323031342f30332f64696374696f6e6172792e6a7067') no-repeat center center fixed;
 	-webkit-background-size: cover;
    	-moz-background-size: cover;
    	background-size: cover;
    	-o-background-size: cover;
}

.vertical-center {
	min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
	min-height: 100vh; /* These two lines are counted as one :-)       */
	
	display: flex;
	align-items: center;
}

.jumbotron h1, p {
	color: #000000;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.highlighter-yellow {
	background-color: rgba(243,243,21, 0.7);
	padding-left: 5px;
	padding-right: 5px;
}

.highlighter-black {
	background-color: rgba(0,0,0, 0.8);
	padding-left: 5px;
	padding-right: 5px;
}

.champ h2, p {
	color: #FFFFFF;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
